<header>
    <div class="container">
        <a href="#" class="logo">FOOD CORNER!</a>
        <a href="#" class="logo">Phone No. +91 9142629868</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Offers</a>
                    <a routerLink="/help">Help</a>
                    <a routerLink="/signup">SIGN UP</a>
                    <a routerLink="/login">Login</a>
                    <a href="#" routerLink="">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>


<header class="mb-3">
    <div class="mb">
        <a href="#" class="m">600 Restaurant</a>
        <nav>
            <ul>
                <li>
                    <a class="m" routerLink="">Relevance</a>
                    <a class="m" routerLink="/Delivery">Delivery Time</a>
                    <a class="m" routerLink="">Rating</a>
                    <a class="m" routerLink="/high-to-low">Cost - High To Low</a>
                    <a class="m" routerLink="">Cost - Low To High</a>
                    <a class="m" routerLink="">Filter</a>
                </li> 
            </ul>
        </nav>
    </div>
</header>
