<div class="footer">
<div class="container my-5">
  <footer class="text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eos laudantium dolore obcaecati 
          necessitatibus tenetur illum ab totam architecto quasi ipsam.
        </p>
        <p>
          Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
          molestias.
        </p>
        <div class="mt-4">
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-facebook-f"></i></a>
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-dribbble"></i></a>
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-twitter"></i></a>
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg" />
          <label class="form-label" for="formControlLg">Search</label>
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">INDIA, NY 10012, BANGALORE</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fa fa-envelope"></i></span><span class="ms-2">resto.stp44@gmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+91 9142629868</span>
          </li>
          <!-- <li class="mb-3">
            <span class="fa-li"><i class="fa fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
          </li> -->
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</footer>

</div>
<!-- End of .container -->




<footer class="page-footer font-small indigo">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: white;"><u>WE DELIVER TO</u></h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Abohar</a>
            </li>
            <li>
              <a href="#!">Adilabad</a>
            </li>
            <li>
              <a href="#!">Adityapur</a>
            </li>
            <li>
              <a href="#!">Adoni</a>
            </li>
            <li>
              <a href="#!">Agartala</a>
            </li>
            <li>
              <a href="#!">Agra</a>
            </li>
            <li>
              <a href="#!">Ahmedabad</a>
            </li>
            <li>
              <a href="#!">Ahmednagar</a>
            </li>
            <li>
              <a href="#!">Ajmer</a>
            </li>
            <li>
              <a href="#!">Aizawl</a>
            </li>
            <li>
              <a href="#!">Akola</a>
            </li>
            <li>
              <a href="#!">Alappuzha</a>
            </li>
            <li>
              <a href="#!">Aligarh</a>
            </li>
            <li>
              <a href="#!">Alipurduar</a>
            </li>
            <li>
              <a href="#!">Allahabad</a>
            </li>
            <li>
              <a href="#!">Almora</a>
            </li>
          </ul>
        </div>  
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Darbhanga</a>
            </li>
            <li>
              <a href="#!">Darjeeling</a>
            </li>
            <li>
              <a href="#!">Daund</a>
            </li>
            <li>
              <a href="#!">Dausa</a>
            </li>
            <li>
              <a href="#!">Davanagere</a>
            </li>
            <li>
              <a href="#!">Dehradun</a>
            </li>
            <li>
              <a href="#!">Dehri</a>
            </li>
            <li>
              <a href="#!">Delhi</a>
            </li>
            <li>
              <a href="#!">Deoghar</a>
            </li>
            <li>
              <a href="#!">Dewas</a>
            </li>
            <li>
              <a href="#!">Dhamtari</a>
            </li>
            <li>
              <a href="#!">Dhanbad</a>
            </li>
            <li>
              <a href="#!">Dhar</a>
            </li>
            <li>
              <a href="#!">Dharamshala</a>
            </li>
            <li>
              <a href="#!">Dharapuram</a>
            </li>
            <li>
              <a href="#!">Dharmapuri</a>
            </li>
          </ul>
        </div>  
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Kishangarh</a>
            </li>
            <li>
              <a href="#!">Kochi</a>
            </li>
            <li>
              <a href="#!">Kodaikanal</a>
            </li>
            <li>
              <a href="#!">Kohima</a>
            </li>
            <li>
              <a href="#!">Kolar</a>
            </li>
            <li>
              <a href="#!">Kolhapur</a>
            </li>
            <li>
              <a href="#!">Kolkata</a>
            </li>
            <li>
              <a href="#!">Kollam</a>
            </li>
            <li>
              <a href="#!">Kopargaon</a>
            </li>
            <li>
              <a href="#!">Koppal</a>
            </li>
            <li>
              <a href="#!">Korba</a>
            </li>
            <li>
              <a href="#!">Kota</a>
            </li>
            <li>
              <a href="#!">Kotdwar</a>
            </li>
            <li>
              <a href="#!">Kothagudem</a>
            </li>
            <li>
              <a href="#!">Kothamanagalam</a>
            </li>
            <li>
              <a href="#!">Kottakkal</a>
            </li>
          </ul>
        </div>  
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Pudukkottai</a>
            </li>
            <li>
              <a href="#!">Pune</a>
            </li>
            <li>
              <a href="#!">Puri</a>
            </li>
            <li>
              <a href="#!">Purnea</a>
            </li>
            <li>
              <a href="#!">Purulia</a>
            </li>
            <li>
              <a href="#!">Pusad</a>
            </li>
            <li>
              <a href="#!">Puttur</a>
            </li>
            <li>
              <a href="#!">Puttur-Karnataka</a>
            </li>
            <li>
              <a href="#!">Rae-Bareli</a>
            </li>
            <li>
              <a href="#!">Raghunathpur</a>
            </li>
            <li>
              <a href="#!">Raichur</a>
            </li>
            <li>
              <a href="#!">Raiganj</a>
            </li>
            <li>
              <a href="#!">Raigarh</a>
            </li>
            <li>
              <a href="#!">Raipur</a>
            </li>
            <li>
              <a href="#!">Rajahmundry</a>
            </li>
            <li>
              <a href="#!">Rajapalayam</a>
            </li>
          </ul>
          <div class="RB8ET">

          </div>
          <div class="26wmf">
            <a href="">
              <img src="" alt="">
            </a>
          </div>
        </div> 
      </div>  
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> MDBootstrap.com</a>
    </div>  
  </footer>
</div>