<!-- <div class="center-content">
    <mat-card class="example-card">
        <mat-card-header class="chinar">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Login | Registration </mat-card-title>
            <a routerLink="'/home'" routerLinkActive="router-link-active" ></a>
        </mat-card-header>
        <mat-tab-group>
            <mat-tab label="Login Page">
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter Email" value="">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="Password" matInput placeholder="Enter Correct Password">
                    </mat-form-field>
                    <a href="#" class="forget">Forget Password</a>
                    <button mat-raised-button type="submit" color="primary">Login</button>
                </form>
            </mat-tab>
            <mat-tab label="Registration Page">
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input type="fname" matInput placeholder="Enter First Name" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input type="lname" matInput placeholder="Enter Last Name">
                    </mat-form-field>
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Enter Email" value="">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Contact</mat-label>
                            <input type="Contact" matInput placeholder="Enter Contact">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input type="Password" matInput placeholder="Enter Password">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Repeat Password</mat-label>
                            <input type="CPassword" matInput placeholder="Enter Password">
                        </mat-form-field>                       
                        <button mat-raised-button type="submit" color="primary">Registration</button>                        
                    </form>
                </form>
            </mat-tab>
        </mat-tab-group>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div> -->
