<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>LOGIN PAGE</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter Email" value="">
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="Password" matInput placeholder="Enter Correct Password">
      </mat-form-field>
      <a routerLink="" class="forget">Forget Password</a>
      <!-- <a routerLink="" class="Sign">Sign Up</a> -->
      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>