.example-card {
    max-width: 440px;
    background-color: ivory;
    margin-left: 28rem;
    margin-top: 2rem;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .mat-raised-button{
    width: 100%;
    margin-top: 17px;
  }