<div class="center-content">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>REGISTRATION PAGE</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input type="fname" matInput placeholder="Enter First Name" value="">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input type="lname" matInput placeholder="Enter Last Name" value="">
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contact</mat-label>
                    <input type="Contact" matInput placeholder="Contact No." value="">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="Password" matInput placeholder="Enter Password">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Congirmd Password</mat-label>
                    <input type="Password" matInput placeholder="Enter Correct Password">
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">Login</button>
            </p>
            <table class="example-full-width" cellspacing="0">
                <tr>
                </tr>
            </table>
        </form>
    </mat-card>
</div>