.card{
    width: 100%;
    height: 40rem;
    background-color: #37718e;
}
.card-title{
    color: white;
    font-family: auto;
    font-size: 40px;
}
.card-body{
    margin-left: 5rem;
    margin-top: 4rem;
}
.mb-2{
    color: white;
    font-size: 18px;
    margin-top: -8px;
    font-family: cursive;
}